{
  "extends": ["@antfu", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "endOfLine": "lf",
        "printWidth": 100,
        "proseWrap": "never",
        "arrowParens": "avoid",
        "htmlWhitespaceSensitivity": "ignore"
      }
    ],
    "antfu/if-newline": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "no-console": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
        "disallowTypeAnnotations": false
      }
    ]
  }
}
