@import './base.scss';
:root,
page {
  //
  --icon-default-size: 24px;
  --red: #c8161d;
}
:where(iconify-icon, svg[data-iconify]) {
  width: var(--icon-default-size);
  height: var(--icon-default-size);
}
