@import './base.scss';
:root,
page {
  --app-status-bar-height: 20px;
  --app-nav-bar-height: 44px;
  --app-footer-height: 50px;
  --app-header-height: 60px;
  //
  --icon-default-size: 24px;
}
:where(iconify-icon, svg[data-iconify]) {
  width: var(--icon-default-size);
  height: var(--icon-default-size);
}
